.face {
  fill: #673200;
}

.left-eye, .right-eye {
  fill: #000;
  animation: wiggle 2s linear infinite;
}

.cls-1 {
  fill: #673200;
}

.cls-2, .nose {
  fill: #ffaaca;
}

.cls-3 {
  fill: #c65b00;
}

.cls-4 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.bear #left-ear {
  transition: all 1s linear;
}

.bear #right-ear {
  transition: all 1s linear;
}

.bear:hover #left-ear {
  transform: translateY(-10px);
}

.bear:hover #right-ear {
  transform: translateY(-10px);
}

@keyframes wiggle {

  0% {
    transform: translateX(1em);
  }

  100% {
    transform: translateX(-1em);
  }

}
